In [0]:
#Coalesce - to return first non-NULL value

In [0]:
from pyspark.sql.functions import coalesce,col,when

In [0]:
data=[('Goa','','AP'),('','AP',None),(None,'','Blr')]
columns=['city1','city2','city3']

df=spark.createDataFrame(data,columns)

df.display()

city1,city2,city3
Goa,,AP
,AP,null
null,,Blr

In [0]:
#coalesce function reading rows from left side, can pick first non-NULL value
 
result_df = df.withColumn("firstnotnull",coalesce(df.city1,"city2",col("city3"))
 
display(result_df)

#note: Here, considered Blank also as values.

city1,city2,city3,firstnotnull
Goa,,AP,Goa
,AP,null,
null,,Blr,

In [0]:
#therefore, when city is Blank, marking as null
#so, when coalesce function reading rows from left side, can pick first non-NULL value

result_df = df.withColumn("firstnotnull",
                coalesce(
                    when(df.city1=="",None).otherwise(df.city1),
                    when(df.city2=="",None).otherwise(df.city2),
                    when(df.city3=="",None).otherwise(df.city3)
                ))

result_df.display()

city1,city2,city3,firstnotnull
Goa,,AP,Goa
,AP,null,AP
null,,Blr,Blr