In [0]:
#schema comparison: 
"""
schema comparison:  is very important feature, because let's asusme we are dealing with multiple dataframe and want to store data into one destination and schemas are different for all the dataframe then by using schema comparison we can make it same in all places
"""

In [0]:
# Sample data
data1 = [
    (1, "Ram", "Male", 100),
    (2, "Radhe", "Female", 200),
    (3, "John", "Male", 250)
]

data2 = [
    (101, "John", "Male", 100),
    (102, "Joanne", "Female", 250),
    (103, "Smith", "Male", 250)
]

data3 = [
    (1001, "Maxwell", "IT", 200),
    (2, "MSD", "HR", 350),
    (3, "Virat", "IT", 300)
]

# Schemas
schema1 = ["Id", "Name", "Gender", "Salary"]
schema2 = ["Id", "Name", "Gender", "Salary"]
schema3 = ["Id", "Name", "DeptName", "Salary"]

# Creating DataFrames
df1 = spark.createDataFrame(data1, schema1)
df2 = spark.createDataFrame(data2, schema2)
df3 = spark.createDataFrame(data3, schema3)

# Displaying the DataFrames
display(df1)
display(df2)
display(df3)

Id,Name,Gender,Salary
1,Ram,Male,100
2,Radhe,Female,200
3,John,Male,250

Id,Name,Gender,Salary
101,John,Male,100
102,Joanne,Female,250
103,Smith,Male,250

Id,Name,DeptName,Salary
1001,Maxwell,IT,200
2,MSD,HR,350
3,Virat,IT,300

Missing Columns

In [0]:
if df1.schema==df2.schema:
    print('Schema matched')
else: 
    print('Schema not matched')


if df1.schema==df3.schema:
    print('Schema matched')
else: 
    print('Schema not matched')

Schema matched
Schema not matched

In [0]:
print(set(df1.schema)-set(df3.schema)) #df1 has 'Gender' as additional column
print(set(df3.schema)-set(df1.schema)) #df3 has 'DeptName' as additional column

{StructField('Gender', StringType(), True)}
{StructField('DeptName', StringType(), True)}

In [0]:
#converting to list, as later for iterating we would need in list format

print(list(set(df1.schema)-set(df3.schema)))
print(list(set(df3.schema)-set(df1.schema)))

[StructField('Gender', StringType(), True)]
[StructField('DeptName', StringType(), True)]

Collect all the columns

In [0]:
allcols = df1.columns + df3.columns
print(allcols)

uniquecols = list(set(allcols))
print(uniquecols)

['Id', 'Name', 'Gender', 'Salary', 'Id', 'Name', 'DeptName', 'Salary']
['DeptName', 'Name', 'Salary', 'Gender', 'Id']

Add missing columns

In [0]:
from pyspark.sql.functions import lit

for i in uniquecols:
  if i not in df1.columns:
    df1 = df1.withColumn(i,lit(None)) 
  if i not in df3.columns:
    df3 = df3.withColumn(i,lit(None)) 
    #adding missing columns as new column with value "lit(None)" ie. const/lit None
    #It is often used when you need to add a constant value to every row in a column.

In [0]:
display(df1)
display(df3)

Id,Name,Gender,Salary,DeptName
1,Ram,Male,100,null
2,Radhe,Female,200,null
3,John,Male,250,null

Id,Name,DeptName,Salary,Gender
1001,Maxwell,IT,200,null
2,MSD,HR,350,null
3,Virat,IT,300,null