In [0]:
#3.pyspark_to_pandas_dataframe

#pyspark dataframe can be converted to python pandas dataframe using toPandas() function. 

#Please note: pandas add a sequence number to the result as a row Index.

In [0]:
data = [(1,'neeraj kumar','male',2000),(2,'nitin kumar','male',3000)]
schema = ['id','name','gender','salary']

df = spark.createDataFrame(data,schema)
df.show()
print(type(df))

+---+------------+------+------+
| id|        name|gender|salary|
+---+------------+------+------+
|  1|neeraj kumar|  male|  2000|
|  2| nitin kumar|  male|  3000|
+---+------------+------+------+

<class 'pyspark.sql.dataframe.DataFrame'>

In [0]:
help(df.toPandas) #to know documentation of the function

Help on method toPandas in module pyspark.sql.pandas.conversion:

toPandas() -> 'PandasDataFrameLike' method of pyspark.sql.dataframe.DataFrame instance
    Returns the contents of this :class:`DataFrame` as Pandas ``pandas.DataFrame``.

    This is only available if Pandas is installed and available.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Support Spark Connect.

    Notes
    -----
    This method should only be used if the resulting Pandas ``pandas.DataFrame`` is
    expected to be small, as all the data is loaded into the driver's memory.

    Usage with ``spark.sql.execution.arrow.pyspark.enabled=True`` is experimental.

    Examples
    --------
    >>> df.toPandas()  # doctest: +SKIP
       age   name
    0    2  Alice
    1    5    Bob

In [0]:
df_pandas = df.toPandas()
df_pandas.show() #wouldn't work as this df is not pyspark dataframe.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-1680219277058897>:2
      1 df_pandas = df.toPandas()
----> 2 df_pandas.show()

File /databricks/python/lib/python3.9/site-packages/pandas/core/generic.py:5575, in NDFrame.__getattr__(self, name)
   5568 if (
   5569     name not in self._internal_names_set
   5570     and name not in self._metadata
   5571     and name not in self._accessors
   5572     and self._info_axis._can_hold_identifiers_and_holds_name(name)
   5573 ):
   5574     return self[name]
-> 5575 return object.__getattribute__(self, name)

AttributeError: 'DataFrame' object has no attribute 'show'

In [0]:
display(df_pandas)
print(df_pandas)

#row_number sequence will come in Pandas DataFrame.

id,name,gender,salary
1,neeraj kumar,male,2000
2,nitin kumar,male,3000

   id          name gender  salary
0   1  neeraj kumar   male    2000
1   2   nitin kumar   male    3000

In [0]:
print(type(df_pandas))

<class 'pandas.core.frame.DataFrame'>